*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0px 20px;
}
.menu {
    padding: 20px 0;
}

.logo-link{
    display: inline-block;
    vertical-align: middle;
}


.menu-list{
    display: inline-block;
    padding: 0;
    margin: 0px 114px; 

}
.menu-item{
    display: inline-block;
    margin: 0px;
    
}
.menu-link{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
    margin-left: 32px;
    font-weight: bold;
}
.first{
    margin: 0;
}
.register-link{
    text-align: center;
    padding: 12px 24px;
    background: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;}

/*------------------------------------------ hero---------------------------------------------------*/
.hero{
    background-color: #0EB4C1;
    padding-top: 29px;
}
.hero-content{
    display: inline-block;
    width: 550px;
    vertical-align: middle;
    margin-right: 123px;
}
.hero-title{
    color: #fff;
    font-size: 36px;
    margin: 0;
    margin-bottom: 16px;
}
.hero-sub{
width: 420px;
}
.hero-text{
    color: #fff;
    font-size: 18px;
    margin: 0;
    margin-bottom: 36px;

}
.hero-link{
    margin-left:0;
}
.hero-img{
    vertical-align: middle;
}
/*------------------------------------------SERVICES---------------------------------*/
.services{
    padding: 120px 0;
}
.service-title{
    text-align: center;
    font-size: 36px;
    color: #111;
    margin: 0;
    margin-bottom: 56px;
}
.services-list{
    width: 864px;
    margin: 0 auto;
    padding-left: 0;
    list-style-type: none;
}

.service-item{
 margin-bottom: 80px;


}

.last{
    margin-bottom: 60px;

}

.item-img{
    display: inline-block;
    vertical-align: middle;

}

.item-content{
    width: 600px;
    display: inline-block;
    margin-left: 60px;
    vertical-align: middle;
}
.item-title{
    margin: 0;
    color: #111;
    font-size: 24px;
    margin-bottom: 24px;
}

.item-text{
    color: #444444;
    font-size: 16px;
}
.services-bottom{
    text-align: center;
}

/*-------------------------------------------REG------------------------------------*/

.reg{
    padding: 64px 0;
    background-color: #0EB4C1;
}

.reg-title{
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    color: #ffffff;
}
.reg-links{
    text-align: center;
}
.reg-link{
    border: 2px solid #fff;
    text-align: center;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.one{
    margin-right: 40px;
}
/*---------------------------------------------------------------END----------------------------------------*/

.menu-end{
    padding: 20px 0;
    background-color: #444444;
}

.menu-end {
    padding: 20px 0;
}

.logo-link-end{
    display: inline-block;
    vertical-align: middle;
}


.menu-list-end{
    display: inline-block;
    padding: 0;
    margin-left:399px; 

}
.menu-item-end{
    display: inline-block;
    margin: 0px;
    
}
.menu-link-end{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin-left: 32px;
    font-weight: bold;
}
.first-end{
    margin-left: 0;
    color: #fff;
    font-weight: bold;
}